<div id="myEditPhotoModal" class="fixed inset-0 flex items-center justify-center mt-4 hidden">
  <div class="absolute inset-0 bg-gray-900 opacity-75"></div>
  <div class="bg-white p-8 rounded-lg z-0 w-full lg:w-2/3">
    <!-- Modal content goes here -->
    <div class="flex justify-center">
      <h2 class="text-2xl font-semibold mt-4 mb-4 w-1/2 text-center border-t-[0.1rem] border-b-[0.1rem] border-neutral-950">Edit About</h2>
    </div>

    <div class="mt-6 w-full">
      <%= simple_form_for @user, url: user_profile_path(@user), method: :patch do |f| %>
        <%= f.error_notification %>

        <div class="form-inputs  space-y-4 w-full flex flex-col justify-center items-center mx-12 md:mx-0">

          <%= f.input :profile_photo,
                      as: :file,
                      required: true,
                      autofocus: true,
                      input_html: { id: "profile-photo-input", autocomplete: "email", class: "block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 mt-4", placeholder: "John Doe" },
                      wrapper_html: { class: "flex flex-col w-full md:w-2/3"} %>

          <div class="form-actions mt-6 w-full flex justify-center">
            <%= f.button :submit, "Update!", class: "block w-full md:w-1/4 text-white bg-blue-600 hover:bg-blue-700 text-gray-100 shadow-lg font-medium rounded-lg text-md py-2.5 text-center mt-4" %>
          </div>
        </div>
      <% end %>
      <button id="closeEditPhotoModal" class="mt-4 px-4 py-2 bg-gray-500 text-white rounded">Close</button>
    </div>

  </div>
</div>

<script>

$(document).ready(function () {
  $("#edit-photo-button").on("click", () => {
    // Trigger the click event on the file input element
    $("#profile-photo-input").click();

    // Show the modal
    $("#myEditPhotoModal").removeClass("hidden");
  });

  // Close modal when the close button is clicked
  $("#closeEditPhotoModal").on("click", () => {
    $("#myEditPhotoModal").addClass("hidden");
  });

  $(".form-check").addClass("flex items-center");
});


</script>
