<div class="Vehicle">
  <%# TODO: Add relevant form %>
  <p>Vehicle stuff</p>
</div>

<div class="Service">
  <%# TODO: Add relevant form %>
  <p>some stuff</p>
</div>

<div class="Property">
  <%# TODO: Add relevant form %>
  <p>some stuff</p>
</div>
