<p>yo</p>
<div class="w-full flex justify-center m-auto">

  <%= button_to "Say hello", hello_path, class: "text-lg border border-3 rounded-lg p-2 hover:bg-gray-100  transition duration-300"  %>

</div>
