
<%# Carousel %>
<section id="carousel">
  <%= render "shared/carousel", item: @vehicle %>
</section>

<%= content_tag(:section, id: "info") do %>
  <%= render "shared/item_main", item: @vehicle%>
<% end %>
